$point-yellow: #ffdc00;

@mixin flex($j: center, $a: center, $g: 0) {
    display: flex;
    justify-content: $j;
    align-items: $a;
    gap: $g;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}
.header {
    padding: 1rem;
    @include flex($j: space-between);

    h3 {
        font-size: 2rem;
    }

    figure {
        flex: 0 0 2rem;
        height: 2rem;
        box-sizing: border-box;
        border-radius: 50%;
        overflow: hidden;
        img {
            display: block;
        }
    }
}

.card {
    position: relative;
    background: $point-yellow;
    padding: 2rem;
    border-radius: 10px;
    &__price {
        margin: 2rem auto;
        text-align: center;
        font: {
            size: 3rem;
            weight: bold;
        };
    }
    &__list {
        @include flex();
        li {
            box-sizing: border-box;
            overflow: hidden;
            margin-left: -1rem;
            border: {
                radius: 50%;
                style: solid;
                color: $point-yellow;
                width: 4px;
            };
            &:first-child{
                margin-left: 0;
            }
        }
    }
    &__button {
        position: absolute;
        top: 0;
        left: 0;
        @include size(100%, 100%);
    }
}